# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 2

# HTML files
[*.html]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true

# CSS and SCSS files
[*.{css,scss}]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = true

# JavaScript and TypeScript files
[*.{js,ts}]
indent_style = space
indent_size = 2

# JSON files
[*.{json,jsonc}]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Ruby files
[*.rb]
indent_style = space
indent_size = 2

# MJML files
[*.mjml]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Gemfile
[{Gemfile,Gemfile.lock}]
indent_style = space
indent_size = 2

# Jekyll config
[_config.yml]
indent_style = space
indent_size = 2
