
div.highlighter-rouge, figure.highlight {
	line-height: 1.0em;
	border: 1px solid #999;
	border-radius: 0;
	font-size: 1.2rem;
	span.hll {
		display: block;
	}
}

div.highlight, div.highlight pre, figure.highlight, figure.highlight pre {
	background-color: #000;
	tab-size: 1rem;
	code {
		line-height: 1.0em;
	}
}
