:root {
	--code-highlight-border-width: 1px;
	--code-highlight-border-color: #333;
	--code-highlight-background-color: #222;
}

div.highlighter-rouge,
figure.highlight {
	line-height: 1.2em;
	border: 1px solid #999;
	border-radius: 0;
	font-size: 1.2rem;

	span.hll {
		&::before {
			content: "+";
			font-weight: bold;
			position: absolute;
			left: 4px;
			z-index: 10;
		}
		display: block;
		background: var(--code-highlight-background-color);
		padding-top: 3px;
		padding-bottom: 3px;
		border-width: var(--code-highlight-border-width) 0 var(--code-highlight-border-width) 0;
		border-style: solid;
		border-color: var(--code-highlight-border-color);


		&:has(+ span:not(.hll)) {
			border-bottom: var(--code-highlight-border-width) solid var(--code-highlight-border-color) !important;
		}

		&:has(+ span.hll) {
			border-bottom: none;
		}

		&+span.hll {
			border-top: none;
		}

	}
}

div.highlighter-rouge div.highlight,
figure.highlight {

	&,
	pre {
		padding: 0;
		background-color: #000;
		tab-size: 1rem;

		code {
			display: block;
			line-height: 1.2em;
			padding: 0.5em 0.5em 0.5em 2em;
		}
	}
}

iframe {
	width: 100%;
	border: 1px solid #000;
	height: 480px;
}