:root {
	--code-highlight-border-width: 4px;
	--code-highlight-border-color: #fff;
}

div.highlighter-rouge,
figure.highlight {
	line-height: 1.0em;
	border: 1px solid #999;
	border-radius: 0;
	font-size: 1.2rem;

	span.hll {
		display: block;
		background: #213 !important;
		padding-top: 3px;
		padding-bottom: 3px;
		border-width: var(--code-highlight-border-width);
		border-style: solid;
		border-color: var(--code-highlight-border-color);

		&:has(+ span:not(.hll)) {
			background-color: green !important;
			border-bottom: var(--code-highlight-border-width)px solid var(--code-highlight-border-color) !important;
		}

		&:has(+ span.hll) {
			border-bottom: none;
		}

		&+span.hll {
			border-top: none;
		}

	}
}

div.highlight,
div.highlight pre,
figure.highlight,
figure.highlight pre {
	background-color: #000;
	tab-size: 1rem;

	code {
		line-height: 1.0em;
	}
}