@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	background: #000;
	color: #fff;
}

body {
	font-family: Economica;
	max-width: 720px;
	margin: 0px auto;
	padding: 0px 0;
	border-width: 0 3px;
	border-color: #06b;
	border-style: double;
	box-sizing: border-box;

	&>header {
		text-align: center;
		margin-bottom: 2em;
		background-color: #012;
		padding: 20px 0;

		h1 {
			font-weight: normal;
			font-size: 3em;
			letter-spacing: 1em;
			text-indent: 1em;
			text-transform: uppercase;
		}

		p {
			padding: 0.5rem;
			background-color: #036;
			border-width: 3px 0;
			border-style: double;
			border-color: #06b;
			letter-spacing: 0.3em;
			text-transform: lowercase;
		}
	}

	&>footer {
		position: sticky;
		bottom: 0px;
		clear: both;
		padding: 1em;
		background-color: #012;
		border-width: 1px 0;
		border-style: solid;
		border-color: #06b;

		h1 {
			width: 50%;
			float: left;
			margin: 0;
			text-align: right;
			padding-right: 0.2em;

			&::after {
				content: ':';
			}
		}

		a {
			color: white;
			text-decoration: none;
			display: block;
		}
	}
}

section {
	text-align: center;
	width: 33%;
	float: left;
	padding: 0.5rem;

	header {
		border-bottom: 1px solid #fff;
		padding: 1rem 0 0.2rem 0;
	}

	ul {
		margin: 0;
		padding: 0;
		line-height: 2.2rem;
		li {
			&:first-of-type {
				font-size: 1.2rem;
				font-weight: bold;
			}
			display: block;
		}
	}
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&display=swap');

#ellipsis {
	font-family: Orbitron;
	font-weight: 400;
	text-transform: lowercase;
	color: #999;
	text-shadow: 0px 0px 5px rgba(255, 255, 255);
	letter-spacing: 0.5em;
	text-indent: 0.5em;
}

#typo-negative {
	color: #f90;
	text-transform: uppercase;
	font-family: Audiowide;
	font-size: 1.2rem;
}

#drop-shadow {
	font-family: "Faculty Glyphic", sans-serif;
	color: #000;
	text-shadow: 2px 2px 1px #fff9, -2px -2px 1px #fff9;
}


#the-ligatures {
	span:first-child {
		font-family: 'Times New Roman', Times, serif;
		font-weight: normal;
		font-style: italic;
		position: relative;
		left: 3px;
	}

	span:not(:first-child) {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 900;
		position: relative;
		left: -3px
	}
}

#franklin-gothic {
	font-family: "Faculty Glyphic", sans-serif;
	color: transparent;
	text-shadow: 0 0 2px #fff9;

	span {
		display: inline-block;

		&::first-letter {
			font-size: 1.8em;
		}
	}

	span:first-child::first-letter {
		position: relative;
		top: -4px;
		left: 10px;
	}
}

#baseline-shift {
	font-style: italic;
	font-size: 2rem;

	span:first-child {
		border-bottom: 6px solid gold;
		position: relative;
		top: -8px;
		color: royalblue;
	}

	span:last-child {
		color: gold;
		border-top: 6px solid royalblue;
		position: relative;
		top: 8px;
		left: -2px;
	}
}


#forbidden-frutiger {
	text-decoration: underline overline 10px crimson;
	font-weight: 900;
	font-variant: small-caps;
	font-size: 2em;
}

#tragic-sans {
	font-family: cursive;
	text-transform: lowercase;

	&::after {
		content: '🥲';
	}
}

#monsters-of-rockwell {
	font-size: 2.5rem;
	font-family: "Roboto Flex",
		sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-variation-settings:
		"wdth" 25,
		/* lowercase height */
		"YTLC" 427,
		/* uppercase height */
		"YTUC" 760;

	span:nth-child(2n) {
		font-size: 50%;
	}
}
