.container {
	width: 100%; max-width: 960px;
	margin: 0 auto; padding: 0 10px; box-sizing: border-box;
}
.row { width: 100%; overflow: hidden; margin-bottom: 10px; }
.col-1 { width: calc((8.33% / 1) - 20px); }
.col-2 { width: calc((8.33% * 2) - 20px);	}
.col-3 { width: calc((8.33% * 3) - 20px); }
.col-4 { width: calc((8.33% * 4) - 20px); }
.col-5 { width: calc((8.33% * 5) - 20px); }
.col-6 { width: calc((8.33% * 6) - 20px); }
.col-7 { width: calc((8.33% * 7) - 20px); }
.col-8 { width: calc((8.33% * 8) - 20px); }
.col-9 { width: calc((8.33% * 9) - 20px); }
.col-10 { width: calc((8.33% * 10) - 20px); }
.col-11 { width: calc((8.33% * 11) - 20px); }
.col-12 { width: calc((8.33% * 12) - 20px); }

[class*="col-"] {	float: left; margin: 0 10px; }
