.container { width: 100%; max-width: 960px; margin: 0 auto; padding: 0 1%; box-sizing: border-box; }
.row { width: 100%; overflow: hidden; margin-bottom: 10px; }
.col-1 { width: calc((8.33% / 1) - 2%); }
.col-2 { width: calc((8.33% * 2) - 2%);	}
.col-3 { width: calc((8.33% * 3) - 2%); }
.col-4 { width: calc((8.33% * 4) - 2%); }
.col-5 { width: calc((8.33% * 5) - 2%); }
.col-6 { width: calc((8.33% * 6) - 2%); }
.col-7 { width: calc((8.33% * 7) - 2%); }
.col-8 { width: calc((8.33% * 8) - 2%); }
.col-9 { width: calc((8.33% * 9) - 2%); }
.col-10 { width: calc((8.33% * 10) - 2%); }
.col-11 { width: calc((8.33% * 11) - 2%); }
.col-12 { width: calc((8.33% * 12) - 2%); }
[class*="col-"] { margin: 0 10px; }
