.off-1 { margin-left: 9.33%; }
.off-2 { margin-left: 17.6%; }
.off-3 { margin-left: 26%; }
.off-4 { margin-left: 34.3%; }
.off-5 { margin-left: 43%; }
.off-6 { margin-left: 51%; }
.off-7 { margin-left: 59%; }
.off-8 { margin-left: 67.6%; }
.off-9 { margin-left: 76%; }
.off-10 { margin-left: 84.3%; }
.off-11 { margin-left: 92.6%; }
