		section {
			background-color: royalblue;

			div {
				background-color: gold;
				padding: 20px;
			}

			counter-reset: grid-item;

			div {
				font-family: Consolas, 'Courier New', Courier, monospace;
				text-align: center;
				counter-increment: grid-item;
				display: flex;
				align-items: center;
				justify-content: center;

				&::before { content: counter(grid-item); }
			}
		}

		pre { text-align: center; }

		button {
			background-color: gold;
			border: none;
			border-radius: 20px;
			padding: 10px;
			margin-bottom: 10px;
			cursor: pointer;

			&:nth-of-type(2) { float: right; }
		}
