body {
	width: 720px;
	margin: 1em auto;
}

footer {
	border-top: 1px solid black;
	width: 480px;
	margin: 5px auto;
	padding: 1em;
}

header {
	border-bottom: 3px double black;

	h1 {
		margin-bottom: 0;
	}
}

aside {
	background-color: crimson;
	color: white;
	float: right;
	width: 20%;
	border: 1px solid black;
	padding: 1em;
	margin: 0 0 1em 1em;

	h4 {
		color: black;
		margin: 0;
	}
}

img {
	width: 20%;
	float: left;
	margin-right: 2em;
}

a {
	color: crimson;
}