div {
	margin: 0;
	padding: 0;
}

div.flag {
	margin: 20px;
}

div#flag-ro {
	width: 300px;
	height: 200px;
	background-color: gold;
	border-left: 100px solid navy;
	border-right: 100px solid crimson;
	box-sizing: border-box;
}

div#flag-mu {
	padding: 0;
	width: 300px;
	height: 200px;
	background-color: gold;
	border-bottom: 50px solid mediumseagreen;
	box-sizing: border-box;
	div {
		margin: 0;
		height: 50px;
		border-top: 50px solid crimson;
		background-color: navy;
	}
}

div#flag-se {
	background-color: royalblue;
	width: 300px;
	height: 200px;
	#flag-se-nw {
		background: royalblue;
		width: 100px;
		height: 80px;
		border-width: 0 40px 40px 0;
		border-color: gold;
		border-style: solid;
	}
}