div {
	margin: 0;
	padding: 0;
}

div.flag {
	margin: 20px;
}

div#flag-ro {
	width: 300px;
	height: 200px;
	background-color: gold;
	border-left: 100px solid navy;
	border-right: 100px solid crimson;
	box-sizing: border-box;
}

div#flag-mu {
	padding: 0;
	width: 300px;
	height: 200px;
	background-color: gold;
	border-bottom: 50px solid mediumseagreen;
	box-sizing: border-box;
	div {
		margin: 0;
		height: 50px;
		border-top: 50px solid crimson;
		background-color: navy;
	}
}

div#flag-se {
	background-color: blue;
	width: 300px;
	height: 200px;
	span {
		display: block;
		width: 100px;
		height: 80px;
		border-width: 0 40px 0 0;
		border-color: gold;
		border-style: solid;
	}
	div {
		height: 40px;
		background-color: gold;
	}
}

div#flag-no {
	width: 275px;
	height: 200px;
	background: navy;
	div {
		background: crimson;
		border-style: solid;
		border-color: white;
		border-width: 0;
		height: 75px;
		padding: 0;
		margin: 0;
	}		
	div.north {
		border-bottom-width: 12px;
	}
	div.south {
		margin-top: 26px;
		border-top-width: 12px;
	}
	div.west {
		width: 75px;
		border-right-width: 12px;
		float: left;
	}
	div.east {
		width: 150px;
		border-left-width: 12px;
		float: right;
	}
}